# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
$RECYCLE.BIN
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# IDE and tools
.idea
.vscode
.history
.npm

# Project
node_modules
dist
coverage